{% extends 'layout.html.twig' %}
{% block title %}Création de Cadavre
	{{ parent() }}
{% endblock %}

{% block content %}
<link href="../assets/styles/main.css" rel="stylesheet" type="text/css" />
<div class="bg-gradient bg"> 
    <section>
        <strong>Titre du cadavre:</strong> {{ cadavre.titre_cadavre }}<br>
        <strong>Date de début:</strong> {{ cadavre.date_debut_cadavre }}<br>
        <strong>Date de fin:</strong> {{ cadavre.date_fin_cadavre }}<br>
        <strong>Nombre Max de Contributions :</strong> {{ cadavre.nb_contributions }}</p>
        <a href="/">Se deconnecter</a>

    </section>
</div>

{% endblock %}
