{% extends 'layout.html.twig' %}
{% block title %}Création de Cadavre
	{{ parent() }}
{% endblock %}

{% block content %}
    <h1>Cadavre en Cours</h1>   
    <section>
        <strong>Titre du cadavre:</strong> {{ cadavreEnCours.titre }}<br>
        <strong>Date de début:</strong> {{ cadavreEnCours.date_debut_cadavre|date('Y-m-d H:i:s') }}<br>
        <strong>Date de fin:</strong> {{ cadavreEnCours.date_fin_cadavre|date('Y-m-d H:i:s') }}<br>
        <strong>Nombre Max de Contributions :</strong> {{ cadavreEnCours.nbContributionsMax }}</p>
        <h1>Détails du Cadavre en Cours</h1>
        <a href="/">Retour à l'accueil</a>

    </section>
{% endblock %}