{% extends 'layout.html.twig' %}
{% block title %}Détails du Cadavre{{ parent() }}{% endblock %}
{% block content %}
    <h2>Détails du Cadavre</h2>
    <p>Titre: {{ cadavreDetails.titre_cadavre }}</p>
    <p>Date de Début: {{ cadavreDetails.date_debut_cadavre|date('Y-m-d H:i:s') }}</p>
    <p>Date de Fin: {{ cadavreDetails.date_fin_cadavre|date('Y-m-d H:i:s') }}</p>
    <p>Nombre Max de Contributions: {{ cadavreDetails.nb_contributions }}</p>
    <p>Nombre de Contributions Actuel: {{ cadavreDetails.nb_contributions_actuel }}</p>
    
    <h3>Contributions</h3>
    {% for contribution in contributions %}
        <p>{{ contribution.texte_contribution }}</p>
    {% endfor %}
{% endblock %}